-

  var titleMerge = page ? ((page.title != '') ? page.title + ' │ ' + data.meta.websiteName : data.meta.websiteName ) : "missing";
  var keywordsMerge = page ? ((page.keywords != '') ? page.keywords + ', ' + data.meta.keywords : metaKeywordsBase) : "missing";
  var pageTescription = page ? page.description : "missing";
  var pageId = page ? page.id : "missing";
  var pageTitle = page ? page.title : "missing";
  var pageColor = page ? page.color : "missing";
  var pageupdate = page ? page.update : false;
  var pageDescription= = page ? page.description : "missing";

  var themeColor = '#111111';

meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
title #{titleMerge}
meta(name="viewport", content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1")
meta(name="description", content=pageDescription)
meta(name="keywords", content=keywordsMerge)
meta(name="theme-color", content=themeColor)
meta(name="msapplication-TileImage", content="/sketch-threejs/img/common/ms_tileimage.png")
meta(name="msapplication-TileColor", content=themeColor)
link(rel="shortcut icon" href="/sketch-threejs/img/common/icon.ico")
link(rel="apple-touch-icon" sizes="180x180" href="/sketch-threejs/img/common/app_icon.png")
link(rel="stylesheet" href="/sketch-threejs/css/main.css")

meta(property="og:title", content=titleMerge)
meta(property="og:site_name", content=data.meta.website_name)
meta(property="og:type", content="website")
meta(property="og:description", content=pageDescription)
meta(property="og:url", content=data.meta.domain + pagePath)
meta(
  property="og:image",
  content = `${data.meta.domain}/img/common/ogp_${(pageTitle == "") ? 'common' : pageId}.jpg`
)

